.wrapper{
    display: flex;
    /* flex-flow: row; */
    align-items: center;
    padding: 18px;
}

.mapContainer{
   height: 80vh;
   width: 40vw;
   flex-grow:1;
   transition: flex-grow 2000ms linear;

}

.animated{
    flex-grow: 1;
    width: 40vw;
    /* max-width: 40%; */
}

.container{
    padding: 48px;
}

.box{
    border: 1px solid red;

}

.circularProgress{
    position: absolute;
    top: 50%;
    left: 48%;
    z-index: 9999;
}